.show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10vw;
    top: 5%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    padding: 10px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0); /* Black w/ opacity */
    border: 3px solid white;
    border-radius: 10px;
}

.hide {
    display: none;
}

.close {
    position: fixed;
    right: 10%;
    color: rgb(121, 121, 121);
    font-size: 28px;
    padding: 5px;
    font-weight: bold;
    
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

strong {
    text-decoration: underline;
}