table {
    table-layout: fixed;
    width: 420px;
    padding: 10px;
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 2vw;
}

th, td {
    width: 100px;
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
}

tr {
    min-height: 50px;
}

#blank-th {
    border: none;
    width: 75px;
}

.categories {  
    margin-top: 240px;
    clear: both;   
}

.cat {
    border-radius: 10px 0 0 10px; 
}

.cat-label {
    clear: both;
    display: inline;
    vertical-align: middle;
    font-size: 2vw;   
}

.die-img {
    vertical-align: middle;
    width: 15%;
    
}

.score {
    display: inline-block;
}


.description {
    font-size: 1.2vw;
}

.clear {
    clear: both;
}

.score-button:hover {
    cursor: pointer;
}